{% extends 'base.html' %}

{% block title %}Server just exploded!{% endblock %}

{% block content %}
    <header class="page-header">
        <h1 class="page-title">Ups!</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    We've been experiencing some technical difficulties now. Please grab a cuppatea and wait for our trained hamsters to fix that.
                </p>
                <p>
                    Maybe someone acidentally kicked some wires on servers. Who knows?
                </p>
            </div>
        </div>
    </div>
{% endblock %}
