{% extends 'base.html' %}

{% block title %}Dlogr - Change password{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">Change Password</h1>
	</header>

	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center">Change Password</h3>
				<hr>

				<form method="POST">
                    {% csrf_token %}

                    <div class="top-margin">
                        <label>Current password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="password" id="id_password" required autofocus>
                    </div>


					<div class="row top-margin">
						<div class="col-sm-6">
							<label>New Password <span class="text-danger">*</span></label>
							<input type="password" class="form-control" name="new_password" id="id_new_password" required>
						</div>
						<div class="col-sm-6">
							<label>Confirm New Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="new_password2" id="id_new_password2" required>
						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-lg-8">
						</div>
						<div class="col-lg-4 text-right">
							<button class="btn btn-action" type="submit">Change</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
