{% extends 'base.html' %}

{% block title %}Dlogr - Change password{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">Change password</h1>
	</header>

	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center">Change password</h3>
				<hr>

				<form method="POST">
                    {% csrf_token %}

                    <div class="row top-margin">
                        <div class="col-sm-6">
                            <label>New Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="password" id="id_password" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Confirm New Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="password2" id="id_password2" required>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-lg-offset-8 col-lg-4 text-right">
                            <button class="btn btn-action" type="submit">Submit</button>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
