{% extends 'base.html' %}

{% block title %}Dlogr - Sign in{% endblock %}

{% block content %}
    <header class="page-header">
        <h1 class="page-title">Sign in</h1>
    </header>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="thin text-center">Sign in to your account</h3>
                <p class="text-center text-muted">
                    If you still haven't an account with us, <a href="{% url 'signup' %}">sign up</a>! Don't be shy, it's free and you won't regret. =P
                </p>
                <hr>

                <form method="POST">
                    {% csrf_token %}

                    <div class="top-margin">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="email" id="id_email" value="{{ form.email.value|default_if_none:'' }}" required autofocus>
                    </div>

                    <div class="top-margin">
                        <label>Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="password" id="id_password" required>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <b><a href="{% url 'reset-password' %}">Forgot password?</a></b>
                        </div>
                        <div class="col-lg-4 text-right">
                            <button class="btn btn-action" type="submit">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
