{% extends 'base.html' %}

{% block title %}Dlogr - Signup{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">Registration</h1>
	</header>

	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center">Register a new account</h3>
				<p class="text-center text-muted">If you already have an account, <a href="{% url 'signin' %}">sign in</a>!</p>
				<hr>

				<form method="POST">
                    {% csrf_token %}

					<div class="top-margin">
                        <label>Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control" name="name" id="id_name" value="{{ form.name.value|default_if_none:'' }}" required autofocus>
					</div>

					<div class="top-margin">
						<label>Email Address <span class="text-danger">*</span></label>
						<input type="email" class="form-control" name="email" id="id_email" value="{{ form.email.value|default_if_none:'' }}" required>
					</div>

                    <div class="top-margin">
                        <label>Timezone <span class="text-danger">*</span></label>
                        <select class="form-control" name="timezone" id="id_timezone" value="{{ form.timezone.value|default_if_none:'' }}" required>
                            {% for option_value, option_label in timezone_choices %}
                                <option value="{{ option_value }}"{% if option_value == 'UTC' %} selected{% endif %}>{{ option_label }}</option>
                            {% endfor %}
                        </select>
                    </div>

					<div class="row top-margin">
						<div class="col-sm-6">
							<label>Password <span class="text-danger">*</span></label>
							<input type="password" class="form-control" name="password" id="id_password" required>
						</div>
						<div class="col-sm-6">
							<label>Confirm Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="password2" id="id_password2" required>
						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-lg-8">
                            {% comment %}
                            <label class="checkbox">
								<input type="checkbox" id="accept_terms">
								I've read the <a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a>
							</label>
                            {% endcomment %}
						</div>
						<div class="col-lg-4 text-right">
							<button class="btn btn-action" id="registration_submit" type="submit">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
